[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.2"
django-environ = "0.4.5"
python-telegram-bot = "13.5"
clubhouse-py = "304.0.1"
psycopg2-binary = "2.8.6"
phonenumbers = "8.12.22"

[dev-packages]

[requires]
python_version = "3.8"
